@charset "utf-8";
/* CSS Document */

.homePage{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
	background: -webkit-linear-gradient(left,#512DA9,#7154B9);

}

header{
    position: fixed;
    background: #343a40;
    padding: 20px;
    width: 100%;
    height: 30px;

}

.left-area h3{
    color: white;
    margin: 0;
    margin-top: -7px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
}

.left-area span{
	color: wheat;
}

.logout_btn{
    padding: 5px;
    background: white;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 30px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
    transition-property: background;
	color: black;

}

.logout_btn:hover{
    text-decoration: none;
    background: wheat;
	color: #000;
}

.sidebar{
    background: #25292D;
    margin-top: 50px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
}
.sidebar center{
	background: #171A1D;
	margin-top: -30px;
	padding-bottom: 15px;

}
.sidebar .profile-img{
    width: 70px;
    height: 70px;
	margin-top: 10px;
}

.sidebar h4{
    margin-top: 0;

	color: white;

}
.sidebar h4>span{
	color: wheat;
}
.sidebar a{
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.3s;
    transition-property: background;
    font-size: 20px;
    font-weight: 500;
	margin: 0;


}

.sidebar a:hover{
    text-decoration: none;
    background: #343a40;
	margin: 0;
	}

.sidebar a>img{
    width: 50px;
    height: 50px;
    padding-right: 5px;




}

.sidebar a>span{
    color: white;

}



.card-title >img{
	margin-left: 0px;
	width: 50px;
	height: 50px;
	margin-top: 5px;
}
.card-title >p{
	margin-left: 75px;
	margin-top: -35px;
	font-size: 25px;
	font-weight: 400;
	color: white;


}
.card-body{
    border: solid 2px wheat;
	border-radius: 20px;
	width: 300px;
	height: 450px;
	background: transparent;
	margin-left: 50px;
	margin-top: 50px;

}
.hr{
	 border: solid 1px white;
	margin-top: -5px;
}
.timer{
	margin-left: 20px;
	margin-top: 10px;
	padding-bottom: 50px;
	font-size: 30px;
	font-weight: 900;
	
}

.hours,.minutes,.seconds{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 100;
	border-bottom: solid 1px ;

	

}
.under-timer{
	font-size: 15px;
	margin-left: 23px;
	margin-top: -40px;
	padding-bottom: 2px;
}
.min-word{
	font-size: 14px;
	margin-left: 12px;
	
	}
.sec-word{
	font-size: 14px;
	margin-left: 8px;
	}
.under-timer >span{
	padding-right: 10px;
	padding-left: 6px;
}

.card-body h1{
	color: white;
	margin-top: -20px;
	padding-bottom: 5px;

}
.dashboard a{
	margin-left: 90px;
	margin-top: -10px;
	margin-bottom: 40px;
	background: white;
	border-radius: 5px;
	padding: 5px 15px 5px 15px ;
	font-size: 16px;
	color: black;
	font-weight: 900;
	border: solid 0.1px black;
	transition: 0.5s;
	transition-property: background;
	


}
.dashboard a:hover{
	text-decoration: none;
	background: green;
	color: black;
	
	border: solid 0.1px black;
	

}

.dashboard a:active{
		outline: none;
		

	}

.dashboard a:focus{
		outline: none;
	}



#reset{
	display: none;
}

.select-area{
	margin-top: 20px;
	padding-bottom: 10px;
}

.checkout-area >img{
	width: 50px;
	height: 50px;
	margin-top: -5px;
	margin-left: 35px;
	margin-bottom: 15px;
	padding-right: 5px;
}

.checkout-btn[type=submit]{
	height: 40px;
	width: 120px;
	color: black;
	font-weight: 900;
	background: white;
	font-size: 16px;
	transition: 0.5s;
	transition-property: background;
	margin-top: -20px;
		border: solid 0.1px;

}
.checkout-btn[type=submit]:hover{
	background: wheat;
	border: solid 0.1px;
	color: black;
}

.add-item-btn[type=button]{
	height: 40px;
	width: 120px;
	color: black;
	font-weight: 900;
	background: white;
	font-size: 16px;
	transition: 0.5s;
	transition-property: background;
	margin-top: -20px;
		border: solid 0.1px;

}


.add-item-btn[type=button]:hover{

	background: wheat;
	color: black;
	border: solid 0.1px;
}





@media only screen and (min-width: 1200px){


header{
    position: fixed;
    background: #343a40;
    padding: 20px;
    width: 100%;
    height: 40px;
	margin-top: -50px;	

}

.left-area h3{
    color: white;
    margin: 0;
    margin-top: -7px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
}

.left-area span{
	color: wheat;
}

.logout_btn{
    padding: 5px;
	height: 25px;
    background: white;
    text-decoration: none;
    float: right;
    margin-top: -25px;
    margin-right: 30px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.3s;
    transition-property: background;
	color: black;

}

.logout_btn:hover{
    text-decoration: none;
    background: wheat;
	color: #000;
}

.sidebar{
    background: #25292D;
    margin-top: -10px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
}
.sidebar center{
	background: #171A1D;
	margin-top: -30px;
	padding-bottom: 15px;

}
.sidebar .profile-img{
    width: 70px;
    height: 70px;
	margin-top: 10px;
}

.sidebar h4{
    margin-top: 5px;
	font-size: 16px;
	color: white;

}
.sidebar h4>span{
	color: wheat;
}
.sidebar a{
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.3s;
    transition-property: background;
    font-size: 16px;
    font-weight: 500;
	margin: 0;


}

.sidebar a:hover{
    text-decoration: none;
    background: #343a40;
	margin: 0;
	}

.sidebar a>img{
    width: 50px;
    height: 50px;
    padding-right: 5px;
	margin-left: -15px;

}

.sidebar a>span{
    color: white;

}



.card-title >img{
	margin-left: 0px;
	width: 50px;
	height: 50px;
	margin-top: 5px;
}
.card-title >p{
	margin-left: 75px;
	margin-top: -35px;
	font-size: 25px;
	font-weight: 400;
	color: white;


}
.card-body{
    border: solid 2px wheat;
	border-radius: 20px;
	width: 300px;
	height: 450px;
	background: transparent;
	margin-left: 50px;
	margin-top: 50px;

}
.hr{
	 border: solid 1px white;
	margin-top: -5px;
}
.timer{
	margin-left: 20px;
	margin-top: 10px;
	padding-bottom: 50px;
	font-size: 30px;
	font-weight: 900;
	
}

.hours,.minutes,.seconds{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 100;
	border-bottom: solid 1px ;

	

}
.under-timer{
	font-size: 15px;
	margin-left: 23px;
	margin-top: -40px;
	padding-bottom: 2px;
}
.min-word{
	font-size: 14px;
	margin-left: 12px;
	
	}
.sec-word{
	font-size: 14px;
	margin-left: 8px;
	}
.under-timer >span{
	padding-right: 10px;
	padding-left: 6px;
}

.card-body h1{
	color: white;
	margin-top: -20px;
	padding-bottom: 5px;

}
.dashboard a{
	margin-left: 90px;
	margin-top: -10px;
	margin-bottom: 40px;
	background: white;
	border-radius: 5px;
	padding: 5px 15px 5px 15px ;
	font-size: 16px;
	color: black;
	font-weight: 900;
	border: solid 0.1px black;
	transition: 0.5s;
	transition-property: background;
	


}
.dashboard a:hover{
	text-decoration: none;
	background: green;
	color: black;
	
	border: solid 0.1px black;
	

}

.dashboard a:active{
		outline: none;
		

	}

.dashboard a:focus{
		outline: none;
	}



#reset{
	display: none;
}

.select-area{
	margin-top: 20px;
	padding-bottom: 10px;
}

.checkout-area >img{
	width: 50px;
	height: 50px;
	margin-top: -5px;
	margin-left: 35px;
	margin-bottom: 15px;
	padding-right: 5px;
}

.checkout-btn[type=submit]{
	height: 40px;
	width: 120px;
	color: black;
	font-weight: 900;
	background: white;
	font-size: 16px;
	transition: 0.5s;
	transition-property: background;
	margin-top: -20px;
		border: solid 0.1px;

}
.checkout-btn[type=submit]:hover{
	background: wheat;
	border: solid 0.1px;
	color: black;
}

.add-item-btn[type=button]{
	height: 40px;
	width: 120px;
	color: black;
	font-weight: 900;
	background: white;
	font-size: 16px;
	transition: 0.5s;
	transition-property: background;
	margin-top: -20px;
		border: solid 0.1px;

}


.add-item-btn[type=button]:hover{

	background: wheat;
	color: black;
	border: solid 0.1px;
}


}


@media only screen and (min-width: 992px) and (max-width: 1199px){

header{
    position: fixed;
    background: #343a40;
    padding: 20px;
    width: 100%;
    height: 40px;
	margin-top: -50px;	

}

.left-area h3{
    color: white;
    margin: 0;
    margin-top: -7px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
}

.left-area span{
	color: wheat;
}

.logout_btn{
    padding: 5px;
	height: 25px;
    background: white;
    text-decoration: none;
    float: right;
    margin-top: -25px;
    margin-right: 30px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.3s;
    transition-property: background;
	color: black;

}

.logout_btn:hover{
    text-decoration: none;
    background: wheat;
	color: #000;
}

.sidebar{
    background: #25292D;
    margin-top: -10px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
}
.sidebar center{
	background: #171A1D;
	margin-top: -30px;
	padding-bottom: 15px;

}
.sidebar .profile-img{
    width: 70px;
    height: 70px;
	margin-top: 10px;
}

.sidebar h4{
    margin-top: 5px;
	font-size: 16px;
	color: white;

}
.sidebar h4>span{
	color: wheat;
}
.sidebar a{
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.3s;
    transition-property: background;
    font-size: 16px;
    font-weight: 500;
	margin: 0;


}

.sidebar a:hover{
    text-decoration: none;
    background: #343a40;
	margin: 0;
	}

.sidebar a>img{
    width: 50px;
    height: 50px;
    padding-right: 5px;
	margin-left: -15px;

}

.sidebar a>span{
    color: white;

}



.card-title >img{
	margin-left: 0px;
	width: 50px;
	height: 50px;
	margin-top: 5px;
}
.card-title >p{
	margin-left: 75px;
	margin-top: -35px;
	font-size: 25px;
	font-weight: 400;
	color: white;


}
.card-body{
    border: solid 2px wheat;
	border-radius: 20px;
	width: 300px;
	height: 450px;
	background: transparent;
	margin-left: 50px;
	margin-top: 50px;

}
.hr{
	 border: solid 1px white;
	margin-top: -5px;
}
.timer{
	margin-left: 20px;
	margin-top: 10px;
	padding-bottom: 50px;
	font-size: 30px;
	font-weight: 900;
	
}

.hours,.minutes,.seconds{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 100;
	border-bottom: solid 1px ;

	

}
.under-timer{
	font-size: 15px;
	margin-left: 23px;
	margin-top: -40px;
	padding-bottom: 2px;
}
.min-word{
	font-size: 14px;
	margin-left: 12px;
	
	}
.sec-word{
	font-size: 14px;
	margin-left: 8px;
	}
.under-timer >span{
	padding-right: 10px;
	padding-left: 6px;
}

.card-body h1{
	color: white;
	margin-top: -20px;
	padding-bottom: 5px;

}
.dashboard a{
	margin-left: 90px;
	margin-top: -10px;
	margin-bottom: 40px;
	background: white;
	border-radius: 5px;
	padding: 5px 15px 5px 15px ;
	font-size: 16px;
	color: black;
	font-weight: 900;
	border: solid 0.1px black;
	transition: 0.5s;
	transition-property: background;
	


}
.dashboard a:hover{
	text-decoration: none;
	background: green;
	color: black;
	
	border: solid 0.1px black;
	

}

.dashboard a:active{
		outline: none;
		

	}

.dashboard a:focus{
		outline: none;
	}



#reset{
	display: none;
}

.select-area{
	margin-top: 20px;
	padding-bottom: 10px;
}

.checkout-area >img{
	width: 50px;
	height: 50px;
	margin-top: -5px;
	margin-left: 35px;
	margin-bottom: 15px;
	padding-right: 5px;
}

.checkout-btn[type=submit]{
	height: 40px;
	width: 120px;
	color: black;
	font-weight: 900;
	background: white;
	font-size: 16px;
	transition: 0.5s;
	transition-property: background;
	margin-top: -20px;
		border: solid 0.1px;

}
.checkout-btn[type=submit]:hover{
	background: wheat;
	border: solid 0.1px;
	color: black;
}

.add-item-btn[type=button]{
	height: 40px;
	width: 120px;
	color: black;
	font-weight: 900;
	background: white;
	font-size: 16px;
	transition: 0.5s;
	transition-property: background;
	margin-top: -20px;
		border: solid 0.1px;

}


.add-item-btn[type=button]:hover{

	background: wheat;
	color: black;
	border: solid 0.1px;
}


}


@media only screen and (min-width: 768px) and (max-width: 991px){


header{
    position: fixed;
    background: #343a40;
    padding: 20px;
    width: 100%;
    height: 40px;
	margin-top: -50px;	

}

.left-area h3{
    color: white;
    margin: 0;
    margin-top: -7px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
}

.left-area span{
	color: wheat;
}

.logout_btn{
    padding: 5px;
	height: 25px;
    background: white;
    text-decoration: none;
    float: right;
    margin-top: -25px;
    margin-right: 30px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.3s;
    transition-property: background;
	color: black;

}

.logout_btn:hover{
    text-decoration: none;
    background: wheat;
	color: #000;
}

.sidebar{
    background: #25292D;
    margin-top: -10px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
}
.sidebar center{
	background: #171A1D;
	margin-top: -30px;
	padding-bottom: 15px;

}
.sidebar .profile-img{
    width: 70px;
    height: 70px;
	margin-top: 10px;
}

.sidebar h4{
    margin-top: 5px;
	font-size: 16px;
	color: white;

}
.sidebar h4>span{
	color: wheat;
}
.sidebar a{
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.3s;
    transition-property: background;
    font-size: 16px;
    font-weight: 500;
	margin: 0;


}

.sidebar a:hover{
    text-decoration: none;
    background: #343a40;
	margin: 0;
	}

.sidebar a>img{
    width: 50px;
    height: 50px;
    padding-right: 5px;
	margin-left: -15px;

}

.sidebar a>span{
    color: white;

}



.card-title >img{
	margin-left: 0px;
	width: 50px;
	height: 50px;
	margin-top: 5px;
}
.card-title >p{
	margin-left: 75px;
	margin-top: -35px;
	font-size: 25px;
	font-weight: 400;
	color: white;


}
.card-body{
    border: solid 2px wheat;
	border-radius: 20px;
	width: 300px;
	height: 450px;
	background: transparent;
	margin-left: 50px;
	margin-top: 50px;

}
.hr{
	 border: solid 1px white;
	margin-top: -5px;
}
.timer{
	margin-left: 20px;
	margin-top: 10px;
	padding-bottom: 50px;
	font-size: 30px;
	font-weight: 900;
	
}

.hours,.minutes,.seconds{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 100;
	border-bottom: solid 1px ;

	

}
.under-timer{
	font-size: 15px;
	margin-left: 23px;
	margin-top: -40px;
	padding-bottom: 2px;
}
.min-word{
	font-size: 14px;
	margin-left: 12px;
	
	}
.sec-word{
	font-size: 14px;
	margin-left: 8px;
	}
.under-timer >span{
	padding-right: 10px;
	padding-left: 6px;
}

.card-body h1{
	color: white;
	margin-top: -20px;
	padding-bottom: 5px;

}
.dashboard a{
	margin-left: 90px;
	margin-top: -10px;
	margin-bottom: 40px;
	background: white;
	border-radius: 5px;
	padding: 5px 15px 5px 15px ;
	font-size: 16px;
	color: black;
	font-weight: 900;
	border: solid 0.1px black;
	transition: 0.5s;
	transition-property: background;
	


}
.dashboard a:hover{
	text-decoration: none;
	background: green;
	color: black;
	
	border: solid 0.1px black;
	

}

.dashboard a:active{
		outline: none;
		

	}

.dashboard a:focus{
		outline: none;
	}



#reset{
	display: none;
}

.select-area{
	margin-top: 20px;
	padding-bottom: 10px;
}

.checkout-area >img{
	width: 50px;
	height: 50px;
	margin-top: -5px;
	margin-left: 35px;
	margin-bottom: 15px;
	padding-right: 5px;
}

.checkout-btn[type=submit]{
	height: 40px;
	width: 120px;
	color: black;
	font-weight: 900;
	background: white;
	font-size: 16px;
	transition: 0.5s;
	transition-property: background;
	margin-top: -20px;
		border: solid 0.1px;

}
.checkout-btn[type=submit]:hover{
	background: wheat;
	border: solid 0.1px;
	color: black;
}

.add-item-btn[type=button]{
	height: 40px;
	width: 120px;
	color: black;
	font-weight: 900;
	background: white;
	font-size: 16px;
	transition: 0.5s;
	transition-property: background;
	margin-top: -20px;
		border: solid 0.1px;

}


.add-item-btn[type=button]:hover{

	background: wheat;
	color: black;
	border: solid 0.1px;
}


}



@media only screen and (min-width: 576px) and (max-width: 767px){

	header{
    position: fixed;
    background: #343a40;
    padding: 20px;
    width: 100%;
    height: 50px;

}

.left-area h3{
    color: white;
    margin: 0;
    margin-top: -7px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left-area span{
	color: wheat;
}

.logout_btn{
    padding: 5px;
    background: white;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 30px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
    transition-property: background;
	color: black;

}

.logout_btn:hover{
    text-decoration: none;
    background: wheat;
	color: #000;
}

.sidebar{
    background: #25292D;
    margin-top: 50px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 200px;
    height: 100%;
}
.sidebar center{
	background: #171A1D;
	margin-top: -30px;
	padding-bottom: 15px;

}
.sidebar .profile-img{
    width: 60px;
    height: 60px;
	margin-top: 10px;
}

.sidebar h4{
    margin-top: 0;
	font-size: 20px;
	color: white;

}
.sidebar h4>span{
	color: wheat;
}
.sidebar a{
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 15px;
    box-sizing: border-box;
    transition: 0.3s;
    transition-property: background;
    font-size: 16px;
    font-weight: 500;
	margin: 0;


}

.sidebar a:hover{
    text-decoration: none;
    background: #343a40;
	margin: 0;
	}

.sidebar a>img{
    width: 40px;
    height: 40px;
    padding-right: 5px;




}

.sidebar a>span{
    color: white;

}


.dashboard{
	margin-top: 100px;
	margin-left: 43%;
	float: left;

}

.card{
	width: 300px;
	height: 500px;

}

.card-title{
	font-size: 42px;



}
.card-title >img{
	margin-left: 0px;
}
.card-title >p{
	margin-left: 75px;
	margin-top: -45px;
	font-size: 24px;
	font-weight: 400;
}
.card-body{
    background:transparent;
	border-style:ridge;
  	border-color: white;
	border-radius: 15px;
}
.hours,.minutes,.seconds{
	padding-right: 5px;
	border-bottom: solid 2px ;
	margin-left: -5px;

}
.card h1{
	color: wheat;
	padding-bottom: 20px;
}
.dashboard h1 >a{
	margin-left: 90px;
	margin-top: 20px;
	background: #25292D;
	border-radius: 10px;
	padding: 8px 15px 8px 15px ;
	font-size: 20px;
	color: wheat;
	transition: 0.3s;
	transition-property: background;
	border: solid 0.01px;


}
.dashboard h1 >a:hover{
	text-decoration: none;
	background: black;

}
h1>img{
	width: 60px;
	height: 60px;
}
h1>p{
	color: white;
	font-size: 32px;
	margin-top: -40px;
	margin-left: 70px;
}
.timer{
	margin-left: 35px;
	padding-bottom: 50px;
}

.border-card{
	border: medium;
	border-color: white;
}
#reset{
	display: none;
}

.under-timer{
	font-size: 18px;
	margin-left: 28px;
	margin-top: -40px;
}

.under-timer >span{
	padding-right: 10px;
	padding-left: 3px;
}
	.min-word{
	font-size: 16px;
	margin-left: 4px;
	}
	.sec-word{
	font-size: 15px;
	margin-left: -3px;
	}
.checkout-area >img{
	width: 45px;
	height: 45px;
	margin-left: 25px;
	margin-bottom: 20px;
}

.checkout-btn[type=submit]{
	height: 40px;
	width: 150px;
	color: wheat;
	background: #25292D;
	padding-top: 4px;
	font-size: 20px;
	transition: 0.3s;
	transition-property: background;
	margin-top: -20px;
}
.checkout-btn[type=submit]:hover{
	background: black;
	border: solid 0.1px;
}

.add-item-btn[type=button]{
	height: 40px;
	width: 150px;
	color: wheat;
	background: #25292D;
	font-size: 20px;
	transition: 0.3s;
	transition-property: background;
	margin-top: -20px;
	padding-top: 4px;

}


.add-item-btn[type=button]:hover{
	background: black;
	border: solid 0.1px;
}



}


@media only screen and (max-width: 575px){

}
